@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Regular"), local("Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Medium"), local("Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: "Graphik LCG";
  background: #060612;
  font-weight: 400;
  color: white;
  border: 4px solid transparent;
  border-image: linear-gradient(94.9deg, #8c5eff 0%, #11c9ff 99.17%);
  -moz-border-image: -moz-linear-gradient(#8c5eff, #11c9ff);
  -webkit-border-image: -webkit-linear-gradient(#8c5eff, #11c9ff);
  border-image-slice: 1;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1384px;
  margin: 72px auto;
}
.container.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86vh;
  align-items: center;
  text-align: center;
}

.button {
  background: linear-gradient(0deg, #8669ff, #8669ff), linear-gradient(94.9deg, #8c5eff 0%, #4954ff 53.84%, #11c9ff 99.17%);
  border-radius: 8px;
  padding: 8px 16px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #060612;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  opacity: 0.6;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 30px;
  }
}
.header {
  display: flex;
  margin-bottom: 224px;
}
.header.center {
  justify-content: center;
  margin-bottom: 0;
}
.header__logo {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.content.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.content.center .image {
  font-weight: 500;
  font-size: 78px;
  line-height: 84px;
  margin-bottom: 32px;
  animation: flip 4s ease infinite;
}
.content.center .title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 16px;
}
.content.center .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #c9d9db;
  max-width: 680px;
  animation: fadeIn 2s ease;
}
.content.center .captcha_wrapper {
  margin-top: 30px;
  padding: 10px;
  background: #d9d9d9;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}
.content.center .captcha_wrapper .captcha {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.content .leftside {
  max-width: 680px;
}
.content .leftside__title {
  font-weight: 500;
  font-size: 78px;
  line-height: 84px;
  color: #ffffff;
  margin-bottom: 16px;
}
.content .leftside__title span {
  color: #8669ff;
}
.content .leftside__description {
  font-size: 16px;
  line-height: 28px;
  color: #c9d9db;
  animation: fadeIn 2s ease;
}
.content .rightside {
  font-family: "JetBrains Mono", monospace;
  padding: 24px;
  background: url(./../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 552px;
  width: 100%;
  height: 424px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  z-index: 1;
}
.content .rightside .info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;
}
.content .rightside .info .item__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
.content .rightside .info .item__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 375px;
}
.content .rightside .info .item__info .row {
  line-height: 28px;
  color: #c9d9db;
}
.content .rightside .info .item__info .row a {
  color: #8669ff;
  text-decoration: underline;
  cursor: pointer;
}
.content .rightside::before {
  content: "";
  height: 346px;
  width: 61px;
  background: url(./../img/bg_icon.png);
  position: absolute;
  right: 32px;
  bottom: -87px;
}

.light {
  max-width: 862px;
  width: 100%;
  height: 122px;
  background: linear-gradient(91deg, #8c5eff 46.75%, #4954ff 64.91%, #11c9ff 80.2%);
  filter: blur(212px);
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: light 8s ease infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 1290px) {
  .header {
    justify-content: center;
  }
  .content {
    justify-content: center;
    text-align: center;
  }
  .content .rightside .info .item__info {
    width: 100%;
    max-width: 100%;
  }
  .content .rightside .info .item__info .row {
    z-index: 1;
    text-align: center;
  }
  .content .rightside::before {
    opacity: 0.1;
  }
}
@media (max-width: 470px) {
  .content .leftside__title {
    font-size: 50px;
    line-height: 70px;
  }
}/*# sourceMappingURL=style.css.map */